<nav class="nav" [class.open]="menuOpen()" [class.scrolled]="scrolled()">
  <div class="nav__inner">
    <a class="brand" routerLink="/" (click)="closeMenu()">
      <img src="/assets/logo/onlyLogo.svg" alt="Fundación Samval" class="brand__logo" />
      <div>
        <p class="brand__eyebrow">{{ brandData().nameKey | transloco }}</p>
        <span class="brand__title">{{ brandData().taglineKey | transloco }}</span>
      </div>
    </a>

    <div class="nav__cta">


      <a class="pill" href="mailto:contacto@samval.org">
        <monitor-icon aria-hidden="true"></monitor-icon>
        <span>{{ platformKey() | transloco }}</span>
      </a>

      <div class="language-dropdown desktop-lang">
  <button
    class="language-btn"
    type="button"
    (click)="toggleLanguageMenu()"
  >
    {{ currentLang() === 'es' ? 'ES' : 'EN' }}
    <span class="arrow" [class.open]="languageMenuOpen()"></span>
  </button>

  <ul class="language-menu" [class.open]="languageMenuOpen()">
    <li (click)="changeLanguage('es')">ES</li>
    <li (click)="changeLanguage('en')">EN</li>
  </ul>
</div>

    </div>

    <ul class="nav__links" [class.open]="menuOpen()">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()"
          >{{ homeKey() | transloco }}</a
        >
      </li>
      @for (link of links; track link.path) {
        <li>
          <a
            [routerLink]="link.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="link.exact ? { exact: true } : { exact: false }"
            (click)="closeMenu()"
            >{{ link.labelKey |transloco}}</a
          >
        </li>
      }

      <hr>

      <li class="mobile-platform">
  <a class="pill" href="mailto:contacto@samval.org">
    <monitor-icon aria-hidden="true"></monitor-icon>
    <span>{{ platformKey() | transloco }}</span>
  </a>
</li>


      <li class="mobile-lang">
  <li class="mobile-lang">
  <div class="language-dropdown">
    <button class="language-btn" type="button" (click)="toggleLanguageMenu()">
      {{ currentLang() === 'es' ? 'ES' : 'EN' }}
      <span class="arrow" [class.open]="languageMenuOpen()"></span>
    </button>

    <ul class="language-menu" [class.open]="languageMenuOpen()">
      <li (click)="changeLanguage('es')">ES</li>
      <li (click)="changeLanguage('en')">EN</li>
    </ul>
  </div>
</li>


    </ul>

    <button class="nav__toggle" type="button" (click)="toggleMenu()" aria-label="Abrir menú">
      <span></span><span></span><span></span>
    </button>
  </div>
</nav>
