<nav class="nav" [class.open]="menuOpen()" [class.scrolled]="scrolled()">
  <div class="nav__inner">
    <a class="brand" routerLink="/" (click)="closeMenu()">
      <img src="/assets/logo/onlyLogo.svg" alt="Fundación Samval" class="brand__logo" />
      <div>
        <p class="brand__eyebrow">{{ brandData().nameKey | transloco }}</p>
        <span class="brand__title">{{ brandData().taglineKey | transloco }}</span>
      </div>
    </a>

    <div class="nav__cta">


      <a class="pill" href="mailto:contacto@samval.org">
        <monitor-icon aria-hidden="true"></monitor-icon>
        <span>{{ platformKey() | transloco }}</span>
      </a>


       <div class="language-toggle">
    <span class="lang-label" [class.active]="currentLang() === 'es'">ES</span>

    <button
      class="lang-switch"
      [class.active]="currentLang() === 'en'"
      (click)="toggleLanguage()"
      [attr.aria-label]="currentLang() === 'es' ? ('header.language.changeToEnglish' | transloco) : ('header.language.changeToSpanish' | transloco)"
      type="button">
      <span class="lang-switch__track"></span>
      <span class="lang-switch__thumb"></span>
    </button>

    <span class="lang-label" [class.active]="currentLang() === 'en'">EN</span>
  </div>
    </div>

    <ul class="nav__links" [class.open]="menuOpen()">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()"
          >{{ homeKey() | transloco }}</a
        >
      </li>
      @for (link of links; track link.path) {
        <li>
          <a
            [routerLink]="link.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="link.exact ? { exact: true } : { exact: false }"
            (click)="closeMenu()"
            >{{ link.labelKey |transloco}}</a
          >
        </li>
      }
    </ul>

    <button class="nav__toggle" type="button" (click)="toggleMenu()" aria-label="Abrir menú">
      <span></span><span></span><span></span>
    </button>
  </div>
</nav>
