<header class="topbar">
  <div class="container">
    <div class="contact">
      <span><i class="fa fa-phone-alt"></i> {{contactInfo().phone}}</span>
      <span><i class="fa fa-envelope"></i> {{contactInfo().email}} </span>
    </div>

    <div class="social">
    @for (social of socialNetworks(); track $index) {
      <a href=""><i [className]="social.icon"></i></a>

    }
    </div>
  </div>
</header>

<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="https://samval.org/img/logo_blanco.png" alt="Samval">

    </div>
    <!-- TODO implementar @for y utilizar la signal navigationItems para el menu -->
    <ul class="menu">
       @for (item of navigationItems(); track $index) {
        <li><a href="">{{item.label}}</a></li>
       }
    </ul>
      <!-- TODO implementar funcionalidad para traduccion con i18n -->
     <button class="translate-btn">EN</button>

    <button class="mobile-btn"><i class="fa-solid fa-bars"></i></button>
  </div>
</nav>
