
<div class="page-header">
  <div class="container">
    <h1>{{ 'allies.title' | transloco }}</h1>


  </div>
</div>


<div class="allies-page">
  <div class="container">


    <section class="intro-section">
      <h2>{{ 'allies.subtitle' | transloco }}</h2>
      <p class="lead">{{ 'allies.description' | transloco }}</p>
    </section>


    <section class="allies-list">
      @for (ally of allies(); track ally.id; let isEven = $even) {
        <article class="ally-card" [class.reverse]="isEven">

          <!-- Imagen -->
          <div class="ally-image">
            <img
              [src]="ally.image"
              [alt]="ally.titleKey | transloco"
              loading="lazy"
            >
          </div>

          <!-- Contenido -->
          <div class="ally-content">
            <h3>{{ ally.titleKey | transloco }}</h3>

            @if (ally.location) {
              <p class="location">
                <i class="fas fa-map-marker-alt"></i>
                {{ ally.location }}
              </p>
            }

            <p class="description">{{ ally.descriptionKey | transloco }}</p>


          </div>

        </article>
      }
    </section>


    <section class="conclusion-section">
      <div class="conclusion-card">

        <p>{{ 'allies.conclusion' | transloco }}</p>
      </div>
    </section>


  </div>
</div>
